In [13]:
from bertopic import BERTopic

In [14]:
topic_model_10topics = BERTopic.load("default_bertopic_top50k_reduced10")

In [15]:
topic_model_10topics.get_topic_info()

    Topic  Count                                     Name
0      -1  23752                -1_people_years_year_2019
1       0   5409            0_trump_cohen_pakistan_indian
2       1   3252           1_court_manafort_judge_justice
3       2   2861          2_smollett_years_chicago_animal
4       3   2739             3_korea_trump_korean_nuclear
5       4   2533          4_airlines_737_ethiopian_flight
6       5   2232  5_venezuela_government_syria_venezuelan
7       6   2151       6_election_elections_congress_vote
8       7   1958                  7_film_music_awards_art
9       8   1602                8_shares_stock_budget_tax
10      9   1511                   9_brexit_eu_labour_mps

In [16]:
import json
docs = []
with open('segmentaaa-output_with_embeddings', 'r') as f:
  for line in f:
      json_doc = json.loads(line)
      docs.append(json_doc['_source']['content_t'])

In [ ]:
topics, probs = topic_model_10topics.transform(docs)

Batches:   0%|          | 0/14068 [00:00<?, ?it/s]

In [ ]:
import pickle
with open('segmentaaa_bertopic10_topics.pickle', 'wb') as fout:
    pickle.dump(probs, fout)